<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><h1>Event Scheduler</h1></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to "Sign_in", sign_up_path %><a href="sign_in"></a></li>
      <li> <%= link_to "log_in", log_in_path %><a href="log_in"></a></li>
    </ul>
  </div>
</nav>


  

    <%= yield %>

    <footer style="background-color:#c8c9ce  ">
   <!-- =========================================================================  -->

  <!-- search bar -->

  <div class="row" align="center">
  
    <p><a href="">BLOG &middot;</a><a href="">CONTACT</a>&copy; 2016 Company, Inc. &middot;<a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    <address>
        EventScheduler
        
      </address>
      </p>
      </div>
      <div class="col-lg-4">
  
  </div>
      </footer>

</body>
</html>



